* {
    box-sizing: border-box;
    color: #2c3644;
}
a{
    text-decoration: none;
}
.nav-links{
    padding: 20px 100%;
    margin-top: 70px;
}
.nav-links:hover{
    background: #ffe6e9;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    background: #f6f6f6;
}


/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/*----------- Sidebar/left column -------------*/

.side-left {
    flex: 3%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 100;
    overflow: hidden;
}
.side-left .nav-links i{
    color:#fc8a94;
}
.side-left i{
    font-size: 30px;
}
i{
    display: block;
}

/*-------------- Messages column ---------------*/
.messages {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 35px;
}
.recent-talks-top{
    display: flex;
    justify-content: space-between;
}
.recent-talks-top h4{
    display: flex;
}
.recent-talks-top h4 i{
    margin-left: 5px;
}
.chat-person{
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 3px;
}
.avatar{
}
.avatar img{
    width: 50px;
    height: 50px;
    border: 2px solid #f8f8f9;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chat-person .message-texts h4, p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.chat-person .message-texts p{
    font-size: 14px;
}
.chat-person .message-texts small{
    font-size: 12px;
    color: #cbcbcb;
}

/*------------------ Main column ---------------------*/
.main {
    flex: 70%;
    padding: 20px;
}

.active-person{
    display: flex;
    background: #fff;
}
.active-person h3{
    margin-left: 20px;

}
.active-chat{
    background: #fff;
}
.active-chat .from{
    display: flex;
}
.active-chat .to{
    display: flex;
    justify-content: flex-end;
}
.active-chat .chat-text{
    padding: 10px;
    margin-left: 20px;
    max-width: 450px;
}
.active-chat .chat-text p{
    font-size: 14px;
}
.status{
    float: right;
}
.status small{
    font-size: 12px;
}
.active-chat .to{}
.active-chat{}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}



 /*--- Navigation Bar ----*/

 .navbar {
     display: flex;
     background-color: #fff;
     justify-content: space-between;
 }

 /* Style the navigation bar links */
 .navbar a {
     color: #535a67;
     padding: 14px 20px;
     text-decoration: none;
     text-align: center;
 }

 /* Change color on hover */
 .navbar a:hover {
     background-color: #ddd;
     color: black;
 }
 .nav-left{

 }
.logo-wrap{
    background: #fc8a94;
    padding: 0 9px;
}
.logo-wrap img{

}
.nav-right{
    display: flex;
}
.nav-right .avatar{
    align-self: center;
}
.nav-right .avatar img{
    width: 30px;
    height: 30px;
}
.drop-down{
    display: flex;
}
.drop-down i{
    margin-left: 10px;
}
